.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
body{
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
h1{
  margin-top: 0px;
  font-family: 'Sacramento',cursive;
  font-size: 562.5%;/* 100% equals 16px, this is one way to define a dynamic font size. Another way is to use em. 1em=16px. Using dynamic will accumulate the parant size to current element side. Say if body has 2em in the css and then h1 in body has 3em, then the final font size in h1 is 5em, if you don't want to accumulate, just change to em to rem which is root em. This will stop accumulating parent em value. Therefore suggest to use rem instead of percentage,em or px. This will by dynamic and least error prone*/
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 2;
}
p {
  line-height: 2;
}
h2{
  font-family: 'Montserrat',sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat',sans-serif;
  color: #11999E;
}
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container{
margin: 100px 0;
}
.bottom-container{
  background-color:#66BFBF;
  padding: 50px 0 20px;

}
.pro{
  text-decoration: underline;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;

}
.top-cloud{
  position: absolute;
  right:300px;
  top:40px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.code-img{
  width: 50%;
  float: left;/* use this to wrap text around certain element*/
  margin-right: 30px;
}
.chilli-img{
  width: 50%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat',sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
a{
  color: #11999E;
  font-family: 'Montserrat',sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.intro{
width: 30%;
margin: auto;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}
.contact-message {
  .width: 40%;
  margin: 40px auto 60px;
}
